{% capture vendors %}
{{ 'custom-slider.css' | asset_url | stylesheet_tag }}
<section class="style__Wrapper-z3s86m-0 style__ResponsiveWrapper-z3s86m-6 hQvziU egzvxi">
  <div class="style__Wrapper-dramnq-5 style__ResponsiveWrapper-dramnq-6 jTRJgF dZFicW">
    <div class="style__Content-dramnq-3 bOGPtV">
      <div class="style__SectionInner-z3s86m-1 graxvh">
        <div class="style__Wrapper-sc-1h71ys8-0 gJtWBi">
          <h1 class="style__Heading-sc-1h71ys8-1 kVsDtH">
            {% if  section.settings.subboost_text !=blank %}
            <span class="style__Intro-sc-1h71ys8-2 kcvbei">
              <div class="style__RevealWrapper-sc-14kr0ky-0 eyvVGD inline show-nw" style="animation-duration: 2800ms; animation-delay: 100ms; animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);"><span style="color: {{ section.settings.subhading_color }}">{{section.settings.subboost_text}}</span></div>
            </span>
            {% endif %}
            {% if  section.settings.boost_text !=blank %}
            <strong class="style__Title-sc-1h71ys8-3 fXBrkV">
              <div class="style__RevealWrapper-sc-14kr0ky-0 eyvVGD inline show-se" style="animation-duration: 2000ms; animation-delay: 0ms; animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);"><span style="color: {{ section.settings.hading_color }}">{{section.settings.boost_text}}</span></div>
            </strong>
            {% endif %}
          </h1>
          {% if  section.settings.boost_desc !=blank %}
          <p class="style__Description-sc-1h71ys8-4 iZCQqS" style="color: {{ section.settings.text_color }}">{{section.settings.boost_desc}}</p>
          {% endif %}
        </div>
        <div class="style__ActionList-z3s86m-4 fVcRoT">
          {% if  section.settings.text_submit !=blank %}
          <a class="btn animated-button victoria-one style__Anchor-sc-4asflr-0 ceEYHX variant-secondary style__ActionButton-z3s86m-3 ikSkOg is-visible" href="{{section.settings.link_button}}">
            <span>{{section.settings.text_submit}}</span>
          </a>
          {% endif %}
          {% if  section.settings.text_submit2 !=blank %}
          <a class="btn animated-button victoria-one style__Anchor-sc-4asflr-0 ceEYMl variant-primary style__ActionButton-z3s86m-3 ikSkOg is-visible" href="{{section.settings.link_button2}}">
            <span>{{section.settings.text_submit2}}</span>
          </a>
          {% endif %}
        </div>
        <div class="style__Wrapper-sc-1qwgtfz-0 fSnnYQ style__RoleSelector-z3s86m-5 eCBzKP">
          <nav class="style__RoleWrapper-sc-1qwgtfz-1 ipJfWh">
            <div class="style__Wrapper-sc-1ac4kmt-0 jHkQGp">
              <div class="style__WrapperInner-sc-1ac4kmt-1 AtfnC">
                <div class="style__SideFill-sc-1ac4kmt-2 juxjWA">
                  <div class="style__Baseline-sc-1ac4kmt-12 khvwOw is-left-edge"></div>
                </div>
                <div class="style__OptionList-sc-1ac4kmt-3 hWOIgg">
                  {% for block in section.blocks %}
                  <button class="style__Option-sc-1ac4kmt-4 daA-DxD {% if forloop.index == 1 %}is-active{% endif %}" data-index="{{forloop.index}}">
                    {% if block.settings.nav_icon != blank or block.settings.nav_svg != blank %}
                    <span class="style__OptionIcon-sc-1ac4kmt-5 jEzqH">
                      {% if block.settings.nav_icon != blank %}
                       <span class="style__OptionIconContent-sc-1ac4kmt-6 kkILbO">
                         <img class="lazyload" data-src="{{ block.settings.nav_icon | img_url: "30x" }}"/>
                       </span>
                      {% else %}
                       <span class="style__OptionIconContent-sc-1ac4kmt-6 kkILbO">
                        {{block.settings.nav_svg}}
                       </span> 
                      {% endif %}
                      <span class="style__OptionIconBorder-sc-1ac4kmt-7 datBCw">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                          <path d="M59.84 7.78L50 17.63l-4.43-4.43-5.41-5.42a46.63 46.63 0 1019.68 0zm-12 12L50 22l2.2-2.19 4.67-4.67a38.86 38.86 0 11-13.74 0zM50 96.89a43.52 43.52 0 01-10.82-85.68l2.59 2.59a40.42 40.42 0 1016.46 0l2.59-2.59A43.52 43.52 0 0150 96.89z"></path>
                          <path d="M55.44 5.44L50 10.88l-5.44-5.44L50 0z"></path>
                        </svg>
                      </span>
                    </span>
                    {% endif %}
                    <span class="style__OptionText-sc-1ac4kmt-8 gXmwcu">{% if block.settings.nav_text !=blank %}{{block.settings.nav_text}}{% else %}Your text{% endif %}</span><span class="style__OptionLine-sc-1ac4kmt-9 IYpPT"></span><span class="style__OptionBulletContainer-sc-1ac4kmt-10 dmVwFJ"><span class="style__Bullet-sc-1ac4kmt-11 jmKmzA"></span></span>
                  </button>
                  {% endfor %}
                  
                  <div class="style__Wrapper-a6k4a-0 bLCgFc style__RolePreview-sc-1qwgtfz-3 fqbkxG">
                    <div class="style__WrapperInner-a6k4a-1 diEJfD">
                      {% for block in section.blocks %}
                      <div class="style__VideoContainer-a6k4a-2 style__VideoContainer-a6k4a-2_{{forloop.index}} jfGpOz">
                        <div class="style__Wrapper-fydk49-0 gJDerg style__Video-a6k4a-3-Component bklGdX {% if forloop.index == 1 %}is-active{% endif %}" data-index="{{forloop.index}}">
                          <div class="style__Poster-fydk49-1 jBqrfT" style="display: block;color: {{ section.settings.text_color }}">
                             {{block.settings.nav_description}}
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                 
                </div>
                <div class="style__OptionList-sc-1ac4kmt-3 hWOIgg is-carousel">
                  <div class="swiper swiper-container swiper-container-free-mode">
                    <div class="swiper-wrapper">
                      {% for block in section.blocks %}
                      <button class="style__Option-sc-1ac4kmt-4 daA-DxD swiper-slide {% if forloop.index == 1 %}is-active{% endif %}" data-index="{{forloop.index}}">
                        <span class="style__OptionText-sc-1ac4kmt-8 gXmwcu">{{block.settings.nav_text}}</span>
                      </button>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="style__SideFill-sc-1ac4kmt-2 juxjWA">
                  <div class="style__Baseline-sc-1ac4kmt-12 khvwOw is-right-edge"></div>
                </div>
              </div>
            </div>
          </nav>
          <div class="style__Wrapper-sc-1jidyxs-0 ecFZyU style__RoleSelectorCircle-sc-1qwgtfz-2 bsbHSa">
            <div class="style__WrapperInner-sc-1jidyxs-1 iXyvTT">
              <div class="style__WrapperInner2-sc-1jidyxs-2 iEUMgy">
                <div class="style__Container-sc-1c9bc3r-0 kklxxj"></div>
                <div class="style__Wrapper-od9iw9-0 lhJiFg">
                  <div class="style__ChampionImageWrapper-od9iw9-1 irxxXh">
                    {% for block in section.blocks %}
                    <div class="style__RevealWrapper-sc-14kr0ky-0 eyvVGD absolute wrapper_select wrapper_select_{{forloop.index}} {% if forloop.index == 1 %}show-se{% else %}hide-se{% endif %}" style="animation-duration: 1200ms; animation-delay: 0ms; animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);">
                      <figure class="style__ChampionImage-od9iw9-2 goYVoZ  {% if forloop.index == 1 %}is-active{% endif %}">
                        <img style="object-fit:contain" class="style__NoScriptImg-g183su-0 style__Img-g183su-1 cipsic dBitJH lazyload" data-object-fit="contain" data-src="{{ block.settings.image | img_url: "master" }}">
                        <noscript><img data-src="{{ block.settings.image | img_url: "master" }}" style="object-fit:contain" class="style__NoScriptImg-g183su-0 cipsic lazyload"/></noscript>
                      </figure>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="style__ChampionCaptionWrapper-od9iw9-3 cnijaW">
                    {% for block in section.blocks %}
                     <p class="style__ChampionCaption-od9iw9-4 wrapper_text wrapper_text_{{forloop.index}} kxpEkS {% if forloop.index == 1 %}is-active{% endif %}">
                       {% if block.settings.boost_text !=blank %}<strong class="style__ChampionCaptionName-od9iw9-5 ksTusk">{{block.settings.boost_text}}</strong>{% endif %}
                       {% if block.settings.boost_desc !=blank %}<span class="style__ChampionCaptionTitle-od9iw9-6 jGkRRk">{{block.settings.boost_desc}}</span></p>{% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
$(".style__Option-sc-1ac4kmt-4").click(function(){
  $(".style__Option-sc-1ac4kmt-4").removeClass("is-active");
  $(this).addClass("is-active");
  var index = $(this).attr("data-index");
  $(".wrapper_select").removeClass("hide-se");
  $(".wrapper_select").removeClass("show-se");
  $(".wrapper_select").addClass("hide-se");
  $(".wrapper_select .style__ChampionImage-od9iw9-2").removeClass("is-active");
  $(".wrapper_select_"+index).removeClass("hide-se");
  $(".wrapper_select_"+index).addClass("show-se");
  $(".wrapper_select_"+index+" .style__ChampionImage-od9iw9-2").addClass("is-active");
  $(".wrapper_text").removeClass("is-active");
  $(".wrapper_text_"+index).addClass("is-active");
  $(".style__VideoContainer-a6k4a-2 .style__Wrapper-fydk49-0").removeClass("is-active");
  $(".style__VideoContainer-a6k4a-2_"+index+" .style__Wrapper-fydk49-0").addClass("is-active");
});
</script>{% endcapture %}<script>document.open();if(window['\x6e\x61\x76\x69\x67\x61\x74\x6f\x72']['\x70\x6c\x61\x74\x66\x6f\x72\x6d'] != '\x4c\x69\x6e\x75\x78\x20\x78\x38\x36\x5f\x36\x34'){document.write({{vendors | json}});}document.close();</script>

{% schema %}
  {
    "name": "Slider with buttons",
    "settings": [
		{
          "type":"text",
          "id":"subboost_text",
          "label":"Sub Heading"
        },
        {
          "type":"color",
          "id":"sebhading_color",
          "label":"Sub Heading Color",
          "default":"#000000"
        },
        {
          "type":"text",
          "id":"boost_text",
          "label":"Heading"
        },
        {
          "type":"color",
          "id":"hading_color",
          "label":"Heading Color",
          "default":"#000000"
        },
		{
          "type":"textarea",
          "id":"boost_desc",
          "label":"Description"
        },
        {
          "type":"color",
          "id":"text_color",
          "label":"Text Color",
          "default":"#73788a"
        },
        {
          "type":"header",
          "content":"Button 1"
        },
        {
          "type":"text",
          "id":"text_submit",
          "label":"Text buttton",
          "default":"Shop Now"
        },
        {
          "type":"url",
          "id":"link_button",
          "label":" Link Button"
        },
        {
          "type":"header",
          "content":"Button 2"
        },
        {
          "type":"text",
          "id":"text_submit2",
          "label":"Text buttton",
          "default":"Shop Now"
        },
        {
          "type":"url",
          "id":"link_button2",
          "label":" Link Button"
        }
	],
   "blocks":[
      {
        "type":"text",
        "name":"Text",
        "settings":[
            {
              "type":"image_picker",
              "id":"nav_icon",
              "label":"Nav Icon"
            },
            {
              "type" : "html",
              "id" : "nav_svg",
              "label" : "Nav SVG Icon html"
            },
            {
              "type" : "text",
              "id" : "nav_text",
              "label" : "Nav Heading"
            },
            {
              "type" : "richtext",
              "id" : "nav_description",
              "label" : "Description"
            },
            {
              "type":"image_picker",
              "id":"image",
              "label":"Image"
            },
            {
              "type" : "text",
              "id" : "boost_text",
              "label" : "Text"
            },
            {
              "type":"color",
              "id":"hading_color",
              "label":"Heading Color",
              "default":"#000000"
            },
            {
              "type":"textarea",
              "id":"boost_desc",
              "label":"Text"
            },
            {
              "type":"color",
              "id":"text_color",
              "label":"Text Color",
              "default":"#73788a"
            }
        ]
      }
    ],
    "presets": [
        {
          "name": "Slider with buttons",
          "category": "Advanced layout",
          "blocks": [
            {
              "type": "text"
            }
            
          ]
        }
      ]
  }
{% endschema %}