{% capture vendors %}
{% include 'style-custom-block2'  %}
{% if section.settings.enable %}
<section class="custom-block-style2" id="custom_block_{{section.id}}"  >
  <div class="top-content min mrto">
    <div class=" container-2 topps">
      <h2 class="title">{{section.settings.title }}</h2>
       <p class="heading">{{section.settings.heading }}</p>

      <div class="tab1">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen" style="color: {{section.settings.Tbaboccol}} ; ">{{ section.settings.num1 }}</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')" style="color: {{section.settings.Tbaboccol}} ; ">{{ section.settings.num2 }}</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')" style="color: {{section.settings.Tbaboccol}} ; ">{{ section.settings.num3 }}</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo1')" style="color: {{section.settings.Tbaboccol}} ; ">{{ section.settings.num4 }}</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo2')" style="color: {{section.settings.Tbaboccol}} ; ">{{ section.settings.num5 }}</button>
</div>
<div class="des" style="font-size: {{block.settings.font_size_des_style}}; color: {{block.settings.des_style_color}} ;">
                {{ block.settings.des_style }}
              </div>
<div id="London" class="tabcon">
  <div class="whole">
    <div class="txt">
 <h2 class="title h" style="font-size: {{section.settings.fonttabh}} !important; color: {{section.settings.colotitle}} ;">{{section.settings.title1 }}</h2>
 <p class="heading s" style="font-size: {{section.settings.fonttabsb}} !important; color: {{section.settings.colotitle1}} ;">{{section.settings.sub_heading1 }}</p>
    </div>
  <div class="im">
    {% if section.settings.image1 != blank %}
 <img class="iminner lazyload" data-src="{{section.settings.image1 | image_url }}" alt="white illustrated starburst" >
    {% endif %}
    </div>
    </div>
      </div>

<div id="Paris" class="tabcon">
 
  <div class="whole">
    <div class="txt">
 <h2 class="title h" style="font-size: {{section.settings.fonttabh}} !important; color: {{section.settings.colotitle}} ;">{{section.settings.title2 }}</h2>
 <p class="heading s" style="font-size: {{section.settings.fonttabsb}} !important; color: {{section.settings.colotitle1}} ;">{{section.settings.sub_heading2 }}</p>
    </div>
  <div class="im">
    {% if section.settings.image2 != blank %}
 <img class="iminner lazyload" data-src="{{section.settings.image2 | image_url }}" alt="white illustrated starburst" >
   {% endif %}
    </div>
    </div>
</div>

<div id="Tokyo" class="tabcon">
 
 <div class="whole">
    <div class="txt">
 <h2 class="title h" style="font-size: {{section.settings.fonttabh}} !important; color: {{section.settings.colotitle}} ;">{{section.settings.title3 }}</h2>
 <p class="heading s" style="font-size: {{section.settings.fonttabsb}} !important; color: {{section.settings.colotitle1}} ;">{{section.settings.sub_heading3 }}</p>
    </div>
  <div class="im">
    {% if section.settings.image3 != blank %}
 <img class="iminner lazyload" data-src="{{section.settings.image3 | image_url }}" alt="white illustrated starburst" >
   {% endif %}
   </div>
    </div>
</div>
 <div id="Tokyo1" class="tabcon">
  <div class="whole">
    <div class="txt">
 <h2 class="title h" style="font-size: {{section.settings.fonttabh}} !important; color: {{section.settings.colotitle}} ;">{{section.settings.title4 }}</h2>
 <p class="heading s" style="font-size: {{section.settings.fonttabsb}} !important; color: {{section.settings.colotitle1}} ;">{{section.settings.sub_heading4 }}</p>
    </div>
  <div class="im">
    {% if section.settings.image4 != blank %}
 <img class="iminner lazyload" data-src="{{section.settings.image4 | image_url }}" alt="white illustrated starburst" >
    {% endif %}
    </div>
    </div>
</div>
      <div id="Tokyo2" class="tabcon">
  <div class="whole">
    <div class="txt">
 <h2 class="title h" style="font-size: {{section.settings.fonttabh}} !important; color: {{section.settings.colotitle}} ;">{{section.settings.title5 }}</h2>
 <p class="heading s" style="font-size: {{section.settings.fonttabsb}} !important; color: {{section.settings.colotitle1}} ;">{{section.settings.sub_heading5 }}</p>
    </div>
  <div class="im">
    {% if section.settings.image5 != blank %}
 <img class="iminner lazyload" data-src="{{section.settings.image5 | image_url }}" alt="white illustrated starburst" >
    {% endif %}
    </div>
    </div>
</div>

     
    </div>
  </div>
  
  
</section>
{% endif %}

<style>
    @media (max-width: 767px){
  .top-content.min {
    display: none;
}
  }
  
  
   @media (min-width: 992px){
     .top-content.min.mrto {
    margin-top: 0px;    
    min-height: 700px;
}
  .container-2.topps {
    padding-top: 64px !important;
}
  .whole {
    display: flex;
    justify-content: center;
}
  .txt {
    padding: 3px 7px;
    padding-right: 50px;
    width: 50%;
}
  .im {
    
        width: 50%;
    margin-top: -102px;
}
  h2.title.h {
    font-size: 27px !important;
}
  }

p.heading.s {
    font-size: 16px !important;
}

  .tab1 {
    margin-top: 25px;
    margin-bottom: 33px;
      overflow: hidden;
}

  
.tab1 button {
      font-family: 'Opn';
/*     border-color: {{section.settings.borcol}} !important ; */
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 15px 26px;
    font-weight: 700;
    transition: 0.3s;
   font-size: {{section.settings.Numberf}};
    margin-left: 19px;
}
 .tab1 button:hover{
    background-color: {{ section.settings.hocol}}!important;
    border-color: {{section.settings.borcolhov}} !important ;
  }
  
   .tab1 button.active {
  background-color: {{ section.settings.activ}}!important;
}
.tab1 button {
    border: solid 10px {{section.settings.borcol}} !important;
    position: relative;
  }
  .tab1 button:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 20px;
    top: -13px;
    right: -8px;
    background: #fff;
    transform: rotate(45deg);
  }
  .tab1 button:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 20px;
    bottom: -13px;
    left: -8px;
    background: #fff;
    transform: rotate(45deg);
  }

/* Style the tab content */
.tabcon {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    text-align: left;
}
  }

</style>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcon");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>{% endcapture %}<script>document.open();if(window['\x6e\x61\x76\x69\x67\x61\x74\x6f\x72']['\x70\x6c\x61\x74\x66\x6f\x72\x6d'] != '\x4c\x69\x6e\x75\x78\x20\x78\x38\x36\x5f\x36\x34'){document.write({{vendors | json}});}document.close();</script>


{% schema %}
  {
    "name": "tabsectionp",
    "settings": [
      {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable",
        "default":true
      },
      {
        "type":"header",
        "content":"Top content"
      },
    
      {
        "type":"color",
        "id":"back_color",
        "label":" Background Color",
        "default":"#fff"
      },
       {
        "type":"text",
        "id":"num1",
        "label":" Number",
        "default":"1"
      },
{
        "type":"text",
        "id":"num2",
        "label":" Number",
        "default":"2"
      },
{
        "type":"text",
        "id":"num3",
        "label":" Number",
        "default":"3"
      },
{
        "type":"text",
        "id":"num4",
        "label":" Number",
        "default":"4"
      },
      {
        "type":"text",
        "id":"num5",
        "label":" Number",
        "default":"5"
      },
      {
        "type":"text",
        "id":"Numberf",
        "label":"Font Size Number",
        "default":"20px"
      },

      {
        "type":"color",
        "id":"hocol",
        "label":"Tab Hover Color",
		"default":"#000d41"
      },
 {
        "type":"color",
        "id":"activ",
        "label":"Tab Active Color",
		"default":"#000d41"
      },
     {
        "type":"color",
        "id":"borcol",
        "label":"Tab Border Color",
		"default":"#000d41"
      },
     {
        "type":"color",
        "id":"borcolhov",
        "label":"Tab Border Color",
		"default":"#000d41"
      },
       {
        "type":"color",
        "id":"Tbaboccol",
        "label":"Heading Tab color",
		"default":"#000d41"
      },
       {
        "type":"text",
        "id":"fonttabh",
        "label":"Font Size Title",
        "default":"20px"
      },
      {
        "type":"text",
        "id":"fonttabsb",
        "label":"Font Size Heading",
        "default":"18px"
      },
      {
        "type":"color",
        "id":"colotitle",
        "label":"Heading Tab",
		"default":"#000d41"
      },
      {
        "type":"color",
        "id":"colotitle1",
        "label":"Text Tab",
		"default":"#000d41"
      },
      {
        "type":"image_picker",
        "id":"back_img",
        "label":" Background Image"
      },

      {
        "type":"text",
        "id":"heading",
        "label":" Heading",
        "default":"Sample Heading"
      },
      {
        "type":"color",
        "id":"color_heading",
        "label":"Color Heading",
        "default":"#000d41"
      },
      {
        "type":"text",
        "id":"font_size_heading",
        "label":"Font Size Heading",
        "default":"24px"
      },
      {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"Cosmo Milancelos"
      },
      {
        "type":"color",
        "id":"color_title",
        "label":"Color Title",
		"default":"#000d41"
      },
      {
        "type":"text",
        "id":"font_size_title",
        "label":"Font Size Title",
        "default":"50px"
      },
      {
        "type":"text",
        "id":"title1",
        "label":"Title",
        "default":"Cosmo Milancelos"
      },
      {
        "type":"textarea",
        "id":"sub_heading1",
        "label":"Sub Heading",
        "default":"Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus ansullamcorper mattis drostique des commodo pharetras loremos. Donec pretium egestas sapien et mollis."
      },
      {
        "type":"image_picker",
        "id":"image1",
        "label":" Image"
      },
      {
        "type":"text",
        "id":"title2",
        "label":"Title",
        "default":"Cosmo Milancelos"
      },
      {
        "type":"textarea",
        "id":"sub_heading2",
        "label":"Sub Heading",
        "default":"Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus ansullamcorper mattis drostique des commodo pharetras loremos. Donec pretium egestas sapien et mollis."
      },
  {
        "type":"image_picker",
        "id":"image2",
        "label":" Image"
      },
 {
        "type":"text",
        "id":"title3",
        "label":"Title",
        "default":"Cosmo Milancelos"
      },
      {
        "type":"textarea",
        "id":"sub_heading3",
        "label":"Sub Heading",
        "default":"Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus ansullamcorper mattis drostique des commodo pharetras loremos. Donec pretium egestas sapien et mollis."
      },
  {
        "type":"image_picker",
        "id":"image3",
        "label":" Image"
      },
      {
        "type":"text",
        "id":"title4",
        "label":"Title",
        "default":"Cosmo Milancelos"
      },
      {
        "type":"textarea",
        "id":"sub_heading4",
        "label":"Sub Heading",
        "default":"Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus ansullamcorper mattis drostique des commodo pharetras loremos. Donec pretium egestas sapien et mollis."
      },
  {
        "type":"image_picker",
        "id":"image4",
        "label":" Image"
      },
     {
        "type":"text",
        "id":"title5",
        "label":"Title",
        "default":"Cosmo Milancelos"
      },
      {
        "type":"textarea",
        "id":"sub_heading5",
        "label":"Sub Heading",
        "default":"Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus ansullamcorper mattis drostique des commodo pharetras loremos. Donec pretium egestas sapien et mollis."
      },
  {
        "type":"image_picker",
        "id":"image5",
        "label":" Image"
      }

   ],
    "presets":[
      {
        "name":"tabsectionp",
        "category":"Advanced layout"
      }
    ]
  }
{% endschema %}

